<div class="container__small-card">
  <div class="small-card__photo">
    <img src="{{ photoCover }}"
      alt="article cover"
      height="100px"
      />
  </div>

  <div class="small-card__text">
    <div class="small-card__author">
      <span><a href="#" target="_blank" rel="noopener noreferrer">{{ author }}</a></span>
    </div>
    <div class="small-card__title">
      <h1><a href="#" target="_blank" rel="noopener noreferrer">{{ cardTitle }}</a></h1>
    </div>
  </div>
</div>

<div class="hr__small-card"><hr/></div>

