<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://shorturl.at/hkKOV"
      cardTitle="Dolor sit Angular amet"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor varius sapien, tempor venenatis metus commodo id. Morbi tempus auctor libero eu vehicula. Maecenas nunc ante."
      author="Marcus Tullius Cicero"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://shorturl.at/tCFR3"
      cardTitle="Integer lacinia nisl eu"
      author="Marcus Tullius Cicero"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://shorturl.at/GLQ47"
      cardTitle="Aliquam erat volutpat nulla mollis"
      author="Publius Vergilius Maro"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://shorturl.at/gopwL"
      cardTitle="Neque porro quisquam est qui dolorem"
      author="Marcus Tullius Cicero"
    ></app-small-card>
  </div>
</div>

<div class="divisor">
  <h1>CONSECTETUR</h1>
  <hr/>
</div>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="5"
      photoCover="https://shorturl.at/xCJ29"
      cardTitle="Tortor, accumsan eget ex id, fringilla dictum leo"
      cardDescription="Fusce hendrerit orci odio, quis eleifend est laoreet ut. Sed sagittis nec orci euismod hendrerit. Aliquam ac maximus neque. Duis sed tellus ut erat fermentum congue. Ut condimentum consectetur odio sed egestas. Morbi ac libero."
      author="Marcus Tullius Cicero"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="6"
      photoCover="https://shorturl.at/qDRY1"
      cardTitle="Etiam pharetra tellus finibus, luctus libero"
      author="Publius Vergilius Maro"
    ></app-small-card>
    <app-small-card
      Id="7"
      photoCover="https://shorturl.at/amFKP"
      cardTitle="Curabitur tincidunt turpis ac purus condimentum"
      author="Aelius Donatus"
    ></app-small-card>
    <app-small-card
      Id="8"
      photoCover="https://shorturl.at/jlvKS"
      cardTitle="Fusce sodales et leo fermentum placerat"
      author="Pomponia Graecina"
    ></app-small-card>
  </div>
</div>


