<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/marinapscarvalho" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    <li><span>&#x2022;</span></li>
    <li><a href="https://github.com/espessartita" target="_blank" rel="noopener noreferrer">GitHub</a></li>
    <li><span>&#x2022;</span></li>
    <li><a href="#" target="_blank" rel="noopener noreferrer">Forum</a></li>
    <li><span>&#x2022;</span></li>
    <li><a href="#" target="_blank" rel="noopener noreferrer">Epulum</a></li>
  </ul>
</div>
